body {
	background: #EEE;
	color: #000;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0; padding: 0;
	text-align: center;
	}


#tudo {
	background: #FFF; 
	border: #000 1px solid;
	width: 100%;
	margin: auto;
	padding: 0px;
	}


#cabecalho {
	background: #CCC;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	}

	.menu {
		background: #000;
		height: 45px;
		margin: 0; padding: 0;
		}

.menu ul {
	margin: 0; padding: 0;
	margin-left: 6px;
	}

.menu ul li {
	display: inline;
	}


.menu ul li a {
	background: #444;
	color: #FFF;
	border: 2px #FFF solid;
	border-bottom: 2px #000 solid;
	float: right;
	padding: 10px;
	margin: 2px;
	text-decoration: none;
    width: 60px;
	}


    .menu a {
        background: #444;
        color: #FFF;
        border: 2px #FFF solid;
        border-bottom: 2px #000 solid;
        float: right;
        padding: 10px;
        margin: 2px;
        text-decoration: none;
        width: 60px;
        }

    img{
        background: #444;
        color: #FFF;
        border: 1px #FFF solid;
        border-bottom: 1px #000 solid;
        float: left;
        padding: 5px 7px;
        margin: 2px;
        text-decoration: none;
        width: 50px;
        height: 15px;
    }


.menu ul li a:hover {
	background: #FFF;
	color: #F00;
	border: #F00 1px solid;
	border-bottom: none;
	text-decoration: none;
	}


#conteudo {
	clear: both;
	font-size: 12px;
	padding: 5px;
	text-align: left;
	}


#rodape {
	clear: both;
	background: #000;
	color: #FFF;
	padding: 5px;
	text-align: center;
	}
